.flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 250px;
    perspective: 10000px;
    margin: 15px auto;
    
}

.flip-card-inner {
    background-color: #c6f6d5;
    border-radius: 10px;
    border:1px solid #c6f6d5;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 245px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    color: #2f9154
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }


  .flip-card-front {
      width: 139px;
      height: 150px;
      
    background-color: white;
    border-radius: 50%;
    margin-top:20px;
  }
  img{
    display: flex;
    justify-content: center;
    border-radius: 50%; 
    height:84%;
    width: 100%;
  }


  .frente {
      margin-top: 10px;
      padding-bottom: 1px;
      background-color: #2f91559e;
      color: white;
  }
  p{
      width: 100%;
      background-color: #2f91559e;}

      li{
          list-style:none;
          cursor: pointer;
          
      }
      li:hover{
        color: #11a519;
      }
  .flip-card-back {
    padding: 10px;
    border:1px solid #c6f6d5;
    border-radius: 10px;
    height: 100%;
    color:#000;
    width: 165px;
    height: 245px;
    transform: rotateY(180deg);
  }
 
  